@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
}

.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.switch-button {
  float: right;
}

.material-icons {
  font-size: 40px;
}

.gallery {
  display: block;
  margin-top: 60px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 4px;
  background-color: rgb(247, 245, 245);
}

.list-img {
  height: 100px;
  object-fit: cover;
}

.item-title {
  font-size: 20px;
  text-transform: uppercase;
}

.item-color {
  font-size: 12px;
}

.item-price {
  color: rgb(197, 8, 8);
  font-size: 16px;
}

.item-button {
  color: rgb(197, 8, 8);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  border: 1px, solid, rgb(197, 8, 8);
  padding: 6px 12px;
  border-radius: 20px;
  justify-content: right;
}

.cards-item-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 120px;
}

.card-item {
  display: grid;
  width: calc((100% - 2 * 120px) / 3);
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content min-content  min-content  min-content ;
  row-gap: 10px;
  text-align: center;
  box-shadow: 0px 5px 8px rgb(173, 172, 172);
}

.card-item-img {
  grid-row: 1/-1;
  grid-column: 1;
}

.card-img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card-item-title {
  grid-row: 1;
  grid-column: 1;
  padding-top: 40px;
}

.card-item-color {
  grid-row: 2;
  grid-column: 1;
  padding-top: 5px;
}

.card-item-bottom {
  display: flex;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  grid-row: 5;
  grid-column: 1;
  align-items: center;
  justify-content: space-between;
  
}
